@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');//font from google

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}


ul{
list-style: none;
}

a{
text-decoration: none;
}

button{
cursor:pointer;
border:none;
background:none;
}

img{
width:100%;
}


.section-content{
margin: 0 auto;
padding: 0 20px;
max-width:1300px;
}


.section-title{
text-align:center;
padding:70px 0 100px;
text-transform:uppercase;
font-size:2rem;
color:#fff;
}

.section-title::after{
content:"";
width:80%;
height:5px;
display:block;
background:#f3961c;
margin:10px auto 0;
border-radius:8px;

}


header {
    width: 100%;
    position:flixed;
     z-index:5;
    background:#000000;
}

header .navbar{
display:flex;
padding:20px;
align-items:center;
justify-content:space-between;
}

.navbar .nav-logo .logo-text{
color:#f3961c;
font-size:2.5rem;
font-weight:600;
}

.navbar .nav-menu{
display:flex;
gap:10px;
}

.navbar .nav-menu .nav-link{
padding: 10px 18px; 
color:#fff;
font-size:1.12rem;
border-radius:30px;
transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
color:#252525;
background-color:#f3961c;
}


.hero-section{
min-height:100vh;
background:#000000;
}

.hero-section .section-content{
display:flex;
align-items:center;
min-height:100vh;
color:#fff;
justify-content:space-between;
}

.hero-section .hero-details .title{
font-size:2.3rem;
color:#f3961c;
 
}

.hero-section .hero-details .subtitle{
margin-top:8px;
max-width:70%;
font-size:2rem;
font-weight:300;
color:#fff;
}

.hero-section .hero-details .description{
margin:24px 0 40px;
max-width:70%;
font-size:1.12rem;
color:#fff;
}

.hero-section .hero-details .buttons{
display:flex;
gap:23px;

}

.hero-section .hero-details .button{
padding:10px 26px;
border:2px solid transparent;
color:#000000;
border-radius:30px;
background:#faf4f5;
font-weight:500;
transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,

hero-section .hero-details .order-now{
color:#fff;
border-color:#fff;
background:transparent;
}


.hero-section .hero-details .order-now:hover{
color:#fff;
border-color:#f3961c;
background:#000000;
}

.hero-section .hero-image-wrapper{
max-width:550px;
margin-left:30px;
}

.about-section{
padding:120px 0;
background:#000000
}

.about-section .section-content{
display:flex;
gap:50px;
align-items:center;
justify-content:space-between;
}

.about-section .about-image-wrapper .about-image{
width:400px;
height:400px;
object-fit:cover;
border-radius:15%;
}

.about-section .about-details .section-title{
padding:0;
}

.about-section .about-details{
max-width:50%;
}

.about-section .about-details .text{
color:#fff;
line-height:30px;
margin:50px 0 30px;
text-align:center;
font-size:30px;
}























